body{
    background-color: lightgrey;
}

#menu li{
  display: inline;
  float: left;
}

#menu{
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
}

#menu a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px;
}
