
body {
    background-color: darkgrey;
  color: darkgrey;
}

p {
    color: black;
    background-color: darkgrey;
}
th {
  color: black;
  background-color: white
}
td {
  color: black;
  background-color: white
}
table, td{
  border: 1px solid orange;
}
